doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
        link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/administration.css')
    body
        header
            ul.side-nav.fixed.ebony-clay
                    li
                        a(href="/administration/admin/zone").white-text.scroll-to  Zones
                    li
                        a(href="/administration/admin/lines").white-text.scroll-to  Lignes
                    li
                        a(href="/administration/admin/users").white-text.scroll-to  Utilisateurs
                    li
                        a(href="#historic").white-text.scroll-to Historique

        nav.amber.lighten-2
            div.nav-wrapper
                div.container
                    a(href="#").brand-logo.center
                        span.resabike res
                        | abike
                    a(href="#", data-activates="mobile-demo").button-collapse
                        i.material-icons menu
        main
            block content

        footer.page-footer.amber.lighten-2
            div.container
                div.row
                    div.col.s6
                        p Copyright Text
                    div.col.s6
                        a(href="https://www.facebook.com/groups/337136043113172/").grey-text.text-lighten-4.right Facebook

        script(src='https://code.jquery.com/jquery-3.2.1.min.js', type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js', type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js', type="text/javascript")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.6.0/superagent.min.js", type="text/javascript")
        script(src='/javascripts/side-nav.js', type="text/javascript")
        script(src='/javascripts/autocomplete.js', type="text/javascript")
        script(src='/javascripts/administration.js', type="text/javascript")
        script(src='/javascripts/administration/zone-rest.js', type="text/javascript")
        script(src='/javascripts/administration/user-rest.js', type="text/javascript")
        script(src='/javascripts/administration/line-rest.js', type="text/javascript")
        script(src='/javascripts/components/toast.js', type="text/javascript")
        script(src='/javascripts/components/validate.js', type="text/javascript")

