extends layout_driver

block content

    div.section.full-section.section-no-padding
        div.row.grey.lighten-3.background-filter
            div.container
                div.col.s2
                    h3 Filtres
                div.input-field.col.s4
                    input(type="text").datepicker
                    label Date
                div.input-field.col.s4
                    input(type="text").timepicker
                    label Heure
                div.col.s2.input-field
                    a.waves-effect.waves-light.btn.right Chercher
        div.row.container
            ul
                div(data-collapsible="accordion").collapsible
                    li
                        div.collapsible-header
                            table
                                thead.highlight.responsive-table
                                    tr
                                        th Date
                                        th Heure
                                        th Bus
                                        th Station de départ
                                        th Station d'arrivée
                                        th Quantité
                                        th Nom & Prénom
                                        th Remarque

                        div.collapsible-body
                            table
                                tbody
                                    tr
                                        td 12.11.17
                                        td 13:00
                                        td 450
                                        td Sierre
                                        td Zinal
                                        td 4
                                        td Michel Audrey
                                        td
                        div.collapsible-body
                            table
                                tbody
                                    tr
                                        td 12.11.17
                                        td 14:00
                                        td 450
                                        td Sierre
                                        td Zinal
                                        td 4
                                        td Peixoto Rafael
                                        td lol

