extends layout_admin

block content

    div#user.section.full-section.section-no-padding
        div.row.grey.lighten-3.background-filter
            div.container
                div.col.s2
                    h3 Filtres
                div.input-field.col.s4
                    input(type="text").datepicker
                    label Date
                div.input-field.col.s4
                    input(type="text").timepicker
                    label Heure
                div.col.s2.input-field
                    a.waves-effect.waves-light.btn.right Chercher
        div.row.full-section.container
            ul
                div.col.s3(data-collapsible="accordion").collapsible
                    li
                       div.collapsible-header Date
                            input(type="text").datepicker
                       div.collapsible-body Lorem ipsum dolor sit amet
                div.col.s3(data-collapsible="accordion").collapsible
                    li
                        div.collapsible-header Heure
                            input(type="text").timepicker
                        div.collapsible-body Lorem ipsum dolor sit amet
                div.col.s3(data-collapsible="accordion").collapsible
                    li
                        div.collapsible-header Ligne bus
                            select
                                option(value="", disabled="disabled", selected="selected")
                                option(value="1") 450
                                option(value="2") 451
                                option(value="3") 452
                        div.collapsible-body Lorem ipsum dolor sit amet
                div.col.s3(data-collapsible="accordion").collapsible
