extends layout

block content

    div.parallax-container.parallax-container1
        div.parallax
            img(src="images/background-bike.jpg")
            a(href="#book").waves-effect.waves-light.btn-large.home-button Je reserve !
            h3#slogan-top.center-align.front.valign-wrapper Arriver au départ
            h3#slogan-bottom.center-align.front.valign-wrapper  sans se fatiguer...


    div#home.section.white.container.full-section
        h2.header Home
        div.margin-partenaire.row
            div.col.s12
                p RESABIKE.CH est un projet visant à faciliter la vie des cyclistes voyageant en transports publics sur les lignes régionales. Nous parlons donc principalement des bus et autres cars postaux, et surtout dans les régions touristiques ! L’idée étant qu’il est plus agréable pour tout le monde (exploitant, conducteur, voyageur…) de savoir combien de cyclistes souhaitent voyager avec leur monture. Cela permet de prévoir au mieux les éventuelles remorques à atteler, ou d’annoncer aux voyageurs que le porte-vélos est déjà bien rempli.
                br
                h5 Partenaires
                p Le projet RESABIKE peut compter sur le soutien de plusieurs transporteurs valaisans, ainsi que sur les connaissances des professeurs et étudiants de la filière informatique de la HES-SO de Sierre.
        div.row
            div.col.s4
                img(src="images/hes-so.png").img-partenaire
            div.col.s4
                img(src="images/poste.jpg").img-partenaire
            div.col.s4
                img(src="images/logo.jpg").img-partenaire

    div.parallax-container
        div.parallax
            img(src="images/background-bike2.jpg")

    div#about.section.white.container.full-section
        div.row
            div.col.s4
                h2.header Histoire
            div.col.s8
                i(id="icone-bike").material-icons.prefix.medium.right-align directions_bike
        div.row
            div.col.s4
                h3.center-align 2014
                p Face au succès grandissant du transport de vélos sur les lignes des cars postaux du Val d’Anniviers, nous trouvions dommage que certains cyclistes ne puissent pas profiter de leur journée car toutes les places étaient occupées sur le porte-vélos. Nous avons donc conçu un petit formulaire de réservations «online»…
            div.col.s4
                h3.center-align 2015
                p Les remorques spécialement conçues pour le transport des vélos, combinées au système de réservation, permettent de satisfaire au mieux les besoins des bikers…
            div.col.s4
                h3.center-align 2016
                p De plus en plus de réservations nous arrivent pour d’autres lignes que celles du Val d’Anniviers. C’est alors que germe l’idée de créer un site internet permettant de réserver ses courses pour d’autres régions que le Valais central. Des statistiques de fréquentation pourront ainsi être facilement établies…
        div.row
            div.col.s4
                h4.date-color 876
                h5.center-align vélos annoncés en 2014..
            div.col.s4
                h4.date-color  1624
                h5.center-align vélos annoncés en 2015...
            div.col.s4
                h4.date-color  1727
                h5.center-align vélos annoncés en 2016 !

    div.parallax-container
        div.parallax
            img(src="images/background-bike3.jpg")

    div#book.section.white.container.full-section
        form#booking-register-form.col.s12
            ul.stepper.linear
                li.step.active
                    div.step-title.waves-effect Coordonnées
                    div.step-content
                        h2.header Qui êtes-vous ?
                            div.row
                                div.input-field.col.s6
                                    input(id="booking-register-firstname", name="firstname", type="text", required="required", aria-required="true").validate
                                    label(for="booking-register-firstname") Prénom
                                div.input-field.col.s6
                                    input(id="booking-register-lastname", name="lastname", type="text", required="required", aria-required="true").validate
                                    label(for="booking-register-lastname") Nom
                                div.input-field.col.s6
                                    input(id="booking-register-group", name="group", type="text").validate
                                    label(for="booking-register-group") Groupe
                                div.input-field.col.s6
                                    input(id="booking-register-phone", name="phone", type="tel", required="required", aria-required="true").validate
                                    label(for="booking-register-phone") Téléphone
                                div.input-field.col.s6
                                    input(id="booking-register-email", name="email", type="email", required="required", aria-required="true").validate
                                    label(for="booking-register-email") E-mail
                                div.step-actions.col.s12
                                    button.waves-effect.btn.next-step Continuer
                li.step
                    div.step-title.waves-effect.waves-light Réservez !
                    div.step-content
                        h2.header Faites votre réservation dès maintenant
                        div.row
                            div.input-field.col.s6
                                input(id="booking-register-departure", placeholder=" ", type="text").autocomplete-db.validate
                                label(for="booking-register-departure") Station de départ
                            div.input-field.col.s6
                                input(id="booking-register-terminal",placeholder=" ", type="text").autocomplete-db.validate
                                label(for="booking-register-terminal") Station d'arrivée
                            div.input-field.col.s6
                                input(type="text",placeholder=" ", id="booking-register-date").datepicker
                                label(for="booking-register-date") Date
                            div.input-field.col.s6
                                input(type="text",placeholder=" ", id="booking-register-time").timepicker
                                label(for="booking-register-time") Heure de départ
                            div.input-field.col.s6
                                input(type="number", max=10, min=1, id="booking-register-bikes")
                                label(for="booking-register-bikes") Nombre de vélos
                            div.input-field.col.s6
                                textarea(placeholder=" ", data-length="100", maxlength="100", id="booking-register-remark").materialize-textarea.textarea-remarque
                                label(for="booking-register-remark") Remarque
                        div.col.s6
                            p Conditions Générales
                            input(type="checkbox", id="filled-in-box", required="required").filled-in
                            label(for="filled-in-box") J'ai pris connaissance des conditions générales concernant le transport de vélos sur www.ts-ar.ch/bike
                        div.step-actions
                            button.waves-effect.btn.previous-step Retour
                            button(data-feedback="getBookingSuggestions").waves-effect.btn.next-step Planifiez
                li.step
                    div.step-title.waves-effect.waves-light Planifiez
                    div.step-content
                        h2.header Planifiez votre voyage !
                        form(action="#")
                            ul(data-collapsible="accordion").collapsible.suggestions
                        div.step-actions
                            button.waves-effect.btn.previous-step Retour

    div.parallax-container
        div.parallax
            img(src="images/background-bike4.jpg")

    div#where.section.white.container.full-section
        h2.header Où aller ?
            h3 Zones de bus
                div.row.center-align
                    div.col.s12
                    img(src="images/buses.jpg").img-zone

    div.parallax-container
        div.parallax
            img(src="images/background-bike5.jpg")

    div#contact.section.white.container.full-section
        h2.header Contact
        p Pour toutes questions ou complément d'informations veuillez remplir le formulaire ci-dessous et nous vous répondrons dans les plus brefs délais.
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s6
                            i.material-icons.prefix person
                            input(id="icon_nom" ,type="text").validate
                            label(for="icon_nom" ,data-error="Veuillez saisir un nom valide.") nom
                        div.input-field.col.s6
                            i.material-icons.prefix email
                            input(id="icon_email", type="email").validate
                            label(for="icon_email", data-error="Veuillez saisir un email valide.") email
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            i.material-icons.prefix mode_edit
                            textarea(id="taContact", data-length="500", maxlength="500").materialize-textarea.textarea-contact
                            label(for="taContact") Formulaire de contact
            button(id="btContact",type="submit", name="action").btn.waves-effect.waves-light.right Envoyer
                i.material-icons.right send

    div(id="modal-book-trip").modal.modal-fixed-footer.modal-book-trip
        div.modal-content
            h4 Confirmation de votre réservation
            div.row
                form#add-line-form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="line-add-idZone", name="id", type="text", disabled="disabled").validate
                            label(for="line-add-idZone", disabled="disabled") Id
                        div.input-field.col.s12
                            input(id="line-add-departure", name="departure", type="text", required="required", aria-required="true").validate.autocomplete
                            label(for="line-add-departure") départ
                        div.input-field.col.s12
                            input(id="line-add-terminal", name="terminal", type="text", required="required", aria-required="true").validate.autocomplete
                            label(for="line-add-terminal") arrivée
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            button(onclick="createLine()", type="submit", for="#add-line-form").btn.waves-effect.waves-light.modal-action valider
                i.material-icons.right send


