extends layout_login

block content

    div.section.container
        div.row
            div.col.s12.center-align
                i.material-icons.login-bt person_pin
        div.row
            form.col.s12
                div.row
                    div.col.s4
                    div.input-field.col.s4
                        i.material-icons.prefix person
                        input(id="utilisateurLogin" type="text").validate
                        label(for="utilisateurLogin") Utilisateur
                    div.col.s4
        div.row
            form.col.s12
                div.row
                    div.col.s4
                    div.input-field.col.s4
                        i.material-icons.prefix lock
                        input(id="psw" type="text").validate
                        label(for="psw") Mot de passe
                    div.col.s4
        div.row
            div.col.s12.center-align
                a(href="#loginBtt").modal-action.modal-close.waves-effect.waves-light.btn-large Se connecter