extends layout_zone_admin

block content

    div.section.full-section.container
        h2 Liste des zones
        div.row.center-align
            div.col.s4.right
                a(href="#modalAddZone").btn-floating.btn-large.waves-effect.waves-light.modal-trigger
                    i.material-icons add
        div.row
            table.centered.highlight.tab-scroll
                thead
                    tr
                        th Zone
                        th Responsable
                        th
                        th
                tbody
                    tr
                        td Val d'anniviers
                        td Laurent Fluec
                        td
                            a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone")
                                i.material-icons edit
                        td
                            a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                i.material-icons delete
                        tr
                            td Val d'anniviers
                            td Laurent Fluec
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                    i.material-icons delete
                        tr
                            td Val d'anniviers
                            td Laurent Fluec
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                    i.material-icons delete
                        tr
                            td Val d'anniviers
                            td Laurent Fluec
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                    i.material-icons delete
                        tr
                            td Val d'anniviers
                            td Laurent Fluec
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                    i.material-icons delete
                        tr
                            td Val d'anniviers
                            td Laurent Fluec
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                    i.material-icons delete
                        tr
                            td Val d'anniviers
                            td Laurent Fluec
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                    i.material-icons delete


    div#historic.section.full-section.container
        h2 Historique
        div.row
            table.highlight.tab-scroll.centered
                thead
                    tr
                        th Date
                        th Heure
                        th Bus
                        th Station de départ
                        th Station d'arrivée
                        th Quantité
                        th Nom & Prénom
                tbody
                    tr
                        td 12.11.17
                        td 13:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Michel Audrey
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael





    //ADD MODAL
    div(id="modalAddZone").modal.modal-fixed-footer
        div.modal-content
            h4 Ajouter
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="addStartZone", type="text").validate
                            label(for="addStartZone") Lieu de départ
                    div.row
                        div.input-field.col.s12
                            input(id="addEndZone", type="text").validate
                            label(for="addEndZone") Lieu d'arrivée
                    div.row
                        div.input-field.col.s12
                            input(id="addRespZone", type="text").validate
                            label(for="addRespZone") Résponsable
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.green-text valider

    //MODIFY MODAL
    div(id="modalModifyZone").modal.modal-fixed-footer
        div.modal-content
            h4 Modifier
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="modStartZone", type="text").validate
                            label(for="modStartZone") Lieu de départ
                    div.row
                        div.input-field.col.s12
                            input(id="modEndZone", type="text").validate
                            label(for="modEndZone") Lieu d'arrivée
                    div.row
                        div.input-field.col.s12
                            input(id="modRespZone", type="text").validate
                            label(for="modRespZone") Résponsable
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.green-text valider

    //DELETE MODAL
    div(id="modalDeleteZone").modal.modal-fixed-footer
        div.modal-content
            h4 Supprimer
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="delStartZone", type="text").validate
                            label(for="delStartZone") Lieu de départ
                    div.row
                        div.input-field.col.s12
                            input(id="delEndZone", type="text").validate
                            label(for="delEndZone") Lieu d'arrivée
                    div.row
                        div.input-field.col.s12
                            input(id="delRespZone", type="text").validate
                            label(for="delRespZone") Résponsable
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.green-text valider


