extends layout_zoneAdmin

block content

    div.section.full-section.container
        h2 Liste des zones
        div.row.center-align
            div.col.s4
                a.waves-effect.waves-light.btn-large.modal-trigger(href="#modalAdd") Ajouter
        div.row
            div.col.s12
                table.highlight
                    thead
                        tr
                            th Zone
                            th Responsable
                            th
                            th
                        tr
                    tbody
                        tr
                            td Val d'anniviers
                            td Laurent Fluec
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModify")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDelete")
                                    i.material-icons delete
                            tr
                                td Val d'anniviers
                                td Laurent Fluec
                                td
                                    a.waves-effect.waves-light.btn.modal-trigger(href="#modalModify")
                                        i.material-icons edit
                                td
                                    a.waves-effect.waves-light.btn.modal-trigger(href="#modalDelete")
                                        i.material-icons delete
                            tr
                                td Val d'anniviers
                                td Laurent Fluec
                                td
                                    a.waves-effect.waves-light.btn.modal-trigger(href="#modalModify")
                                        i.material-icons edit
                                td
                                    a.waves-effect.waves-light.btn.modal-trigger(href="#modalDelete")
                                        i.material-icons delete
                            tr
                                td Val d'anniviers
                                td Laurent Fluec
                                td
                                    a.waves-effect.waves-light.btn.modal-trigger(href="#modalModify")
                                        i.material-icons edit
                                td
                                    a.waves-effect.waves-light.btn.modal-trigger(href="#modalDelete")
                                        i.material-icons delete

    div#historic.section.full-section.grey.lighten-4
        h2.container Historique
        div.row.container
            table.bordered.centered
                thead
                    tr
                        th Date
                        th Heure
                        th Bus
                        th Station de départ
                        th Station d'arrivée
                        th Quantité
                        th Nom & Prénom
                        th Remarque
                tbody
                    tr
                        td 12.11.17
                        td 13:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Michel Audrey
                        td yes
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                        td lol
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                        td lol




    //ADD MODAL
    div(id="modalAdd").modal.modal-fixed-footer
        div.modal-content
            h4 Ajouter
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="addStart", type="text").validate
                            label(for="addStart") Lieu de départ
                    div.row
                        div.input-field.col.s12
                            input(id="addEnd", type="text").validate
                            label(for="addEnd") Lieu d'arrivée
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.green-text valider

    //MODIFY MODAL
    div(id="modalModify").modal.modal-fixed-footer
        div.modal-content
            h4 Modifier
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="modStart", type="text").validate
                            label(for="modStart") Lieu de départ
                    div.row
                        div.input-field.col.s12
                            input(id="modEnd", type="text").validate
                            label(for="modEnd") Lieu d'arrivée
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.green-text valider

    //DELETE MODAL
    div(id="modalDelete").modal.modal-fixed-footer
        div.modal-content
            h4 Supprimer
            div.row
                form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="delStart", type="text").validate
                            label(for="delStart") Lieu de départ
                    div.row
                        div.input-field.col.s12
                            input(id="delEnd", type="text").validate
                            label(for="delEnd") Lieu d'arrivée
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.green-text valider


