extends administration/admin/layout_admin

block content

    div#historic.section.full-section.container
        h2 Historique
        div.row
            table.highlight.tab-scroll
                thead
                    tr
                        th Date
                        th Heure
                        th Bus
                        th Station de départ
                        th Station d'arrivée
                        th Quantité
                        th Nom & Prénom
                tbody
                    tr
                        td 12.11.17
                        td 13:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Michel Audrey
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael
                    tr
                        td 12.11.17
                        td 14:00
                        td 450
                        td Sierre
                        td Zinal
                        td 4
                        td Peixoto Rafael


    div#userList.section.full-section.container
        h2 Utilisateurs
        div.row.center-align
            div.col.s4.right
                a(href="#addUser").btn-floating.btn-large.waves-effect.waves-light.modal-trigger
                    i.material-icons add
        div.row
            table.centered.highlight.tab-scroll
                    thead
                        tr
                            th Nom
                            th Prénom
                            th Ligne
                            th Zone
                            th Utilisateur
                            th Mot de passe
                            th
                            th
                    tbody
                        tr
                            td Michel
                            td Audrey
                            td 450
                            td Val d'Annivers
                            td odry
                            td pi
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#editUser")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#deleteUser")
                                    i.material-icons delete
                        tr
                            td Peixoto
                            td Audrey
                            td 450
                            td Val d'Annivers
                            td peixotte
                            td pi
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#editUser")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#deleteUser")
                                    i.material-icons delete
                        tr
                            td Peixoto
                            td Audrey
                            td 450
                            td Val d'Annivers
                            td peixotte
                            td pi
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#editUser")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#deleteUser")
                                    i.material-icons delete
                        tr
                            td Peixoto
                            td Audrey
                            td 450
                            td Val d'Annivers
                            td peixotte
                            td pi
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#editUser")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#deleteUser")
                                    i.material-icons delete
                        tr
                            td Peixoto
                            td Audrey
                            td 450
                            td Val d'Annivers
                            td peixotte
                            td pi
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#editUser")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#deleteUser")
                                    i.material-icons delete
                        tr
                            td Peixoto
                            td Audrey
                            td 450
                            td Val d'Annivers
                            td peixotte
                            td pi
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#editUser")
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#deleteUser")
                                    i.material-icons delete

    div#bus.section.full-section.container
        h2 Ligne de bus
        div.row.center-align
            div.col.s4.right
                a(href="#modalAddBus").btn-floating.btn-large.waves-effect.waves-light.modal-trigger
                    i.material-icons add
        div.row
            table.centered.highlight.tab-scroll
                thead
                    tr
                        th Bus
                        th Zone
                        th Station de départ
                        th Station d'arrivée
                        th Conducteur
                tbody
                    tr
                        td Val d'Anniviers
                        td 450
                        td Sierre
                        td Zinal
                        td Rafael Peixoto

    div#zone.section.full-section.container
        h2 Zones
            div.row.center-align
                div.col.s4.right
                    a(href="#modalAddZone").btn-floating.btn-large.waves-effect.waves-light.modal-trigger
                        i.material-icons add
        div.row
            table.centered.highlight.tab-scroll
                thead
                    tr
                        th ID
                        th ZONE
                        th MODIFIER
                        th SUPPRIMER
                tbody
                    each zone in zones
                        tr
                            td= zone.id
                            td= zone.name
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalModifyZone", data-id=zone.id, data-name=zone.name)
                                    i.material-icons edit
                            td
                                a.waves-effect.waves-light.btn.modal-trigger(href="#modalDeleteZone")
                                    i.material-icons delete

    //ADD MODAL ZONE
    div(id="modalAddZone").modal.modal-fixed-footer
        div.modal-content
            h4 Ajouter
            div.row
                form(method='POST', action='/administration/admin')#add-zone-form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="zone-name", name="zone_name", type="text").validate
                            label(for="zone-name") Nom
                    div.row
                        div.input-field.col.s12
                            select
                                option(value="", disabled="disabled", selected="selected") Choisir un responsable
                                option(value="1") Utilisateur 1
                                option(value="2") Utilisateur 2
                                option(value="3") Utilisateur 3
                            label Responsable de zone
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            button(type="submit", name="add", form="add-zone-form").btn.waves-effect.waves-light.modal-action.modal-close valider
                i.material-icons.right send

    //MODIFY MODAL ZONE
    div(id="modalModifyZone").modal.modal-fixed-footer.modal-edit-zone
        div.modal-content
            h4 Modifier
            div.row
                form#edit-zone-form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="zone-edit-id", name="zone-edit-id", type="text", disabled="disabled").validate
                            label(for="zone-edit-id", id="zone-edit-id-label", disabled="disabled") Id
                    div.row
                        div.input-field.col.s12
                            input(id="zone-edit-name", name="zone-edit-name", type="text").validate
                            label(for="zone-edit-name", id="zone-edit-name-label") Nom
        div.modal-footer
            a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat.red-text annuler
            button(onclick=`updateZone(document.getElementById('zone-edit-id').value,document.getElementById('zone-edit-name').value)`).btn.waves-effect.waves-light.modal-action.modal-close sauvegarder
                i.material-icons.right done

