.ebony-clay{
    background-color: #2a2d3e;
}
main, footer
{
    padding-left: 300px;
}

.select-wrapper label.invalid {
    margin-top: 62px;
    margin-left: -11px;
    color: #F44336;
}

.add-lines{
    margin-left: auto;
}

@media only screen and (max-width: 992px) {
    main, footer {
        padding-left: 0;
    }
}

.side-nav li a.red-text{
    color : #F44336 !important;
}

.side-nav .user-view {
    height: 200px;
}

.side-nav .user-view .background {
    background-image: url("../images/preview.jpg");
    background-position: center;
    background-size: cover;
}

.side-nav .user-view .username {
    margin-top: 16px;
    font-weight: 500;
    display: block;
    line-height: 16px;
}

.side-nav .user-view .email {
    margin-top: 16px;
    font-weight: 400;
    display: block;
    line-height: 16px;
}