
.input-field input[type=search] {
    padding-left: 4rem;
    width: calc(100% - 4rem);
    /* border: 0; */
    -webkit-box-shadow: none;
    box-shadow: none;
}


.autocomplete-db{
    position: relative;
}
#booking-register-form .autocomplete-content {
    position: absolute;
    width: calc(100% - 0.75rem);
}



ol.line-stops {
    position: relative;
    display: block;
    padding-left: 4px;
    padding-top: 1.5em;
    /*padding-bottom: 2em;*/
    width: 0px;
    background: #26a69a;
}

ol.line-stops li {
    position: relative;
    /*top: 2.5em;*/

    display: inline-block;
    left: 1em;
    height: 3em;
    width: 20em;
    font-weight: bold;
}

ol.line-stops li:before {
     content: "";
     position: absolute;
     /*top: -0.2em;*/
     left: -1.8em;
     display: block;
     width: 20px;
     height: 20px;
     border: 4px solid #26a69a;
     border-radius: 16px;
     background-color: white;

}

.light-hour{
    font-weight: lighter;
}

.highlight-line
{
    background-color: #26a69a;
    padding: 2px;
    margin-right: 0.5em;
    color: white;
}

.choice {
    font-weight: bold;
}

.direction{
    color : #26a69a;
    vertical-align: middle;
    margin-right: 0 !important;
}

.not-highlight{
    font-weight: lighter;
    color:#9e9e9e !important;
    padding-left: 1em;
}

.register-bikes-available{

}
.register-bikes-available-icon{
    vertical-align: middle;
    margin-right: 0 !important;
    margin-left: 1rem;
}

.booking-button{
    margin-left: auto;
}

.collapsible.suggestions .collapsible-header.active{
    -webkit-animation-name: selection-animation;
    animation-name: selection-animation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes selection-animation {
    100%{
        background-color: #2a2d3e;
        color:white;
    }
}

table.dataTable thead {
    /*background-color: #2a2d3e;*/
    border-bottom: 1px solid #d0d0d0;
}


table.dataTable thead th {
    border-radius: 0;
}

table.dataTable tbody tr.group.group-start td {
    background-color: #2a2d3e;
    color:white;
    border-bottom: 1px solid #d0d0d0;

}

table.dataTable.no-footer{
    border-bottom: none !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #d0d0d0 !important;
}

table.dataTable thead .sorting_asc {
    background-image: url("../images/up.png") !important;
}

table.dataTable thead .sorting {
    /*background-image: url("../images/sort.png") !important;*/
    background-image: none !important;
}

table.dataTable thead .sorting_desc {
    background-image: url("../images/down.png") !important;
}

.table-group-icon{
    vertical-align: middle;
    padding:0 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    font-family: 'Material Icons' !important;
    content: '\e145' !important;
    color:black !important;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    font-size: 1.2em;
    top:50% !important;

}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '\e15b' !important;
}

.dropdown-content{
    display:block;
}


