/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

@font-face {
  font-family: CaroselloTitle;
  src: url("../fonts/Carosello-Regular.ttf");
}

.ebony-clay{
  background-color: #2a2d3e;
}


.resabike
{
  color:#1E1E1E;
  font-weight:bold;
}

.background-color{
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51);
}

.header {
  color: #ee6e73;
  font-weight: 300;
}

.parallax-container1 {
  height: 80vh;
}

.parallax-container1 .parallax {
  z-index: 1;
}
.full-section {
  min-height: 100vh;
}

.full-section-index {
  min-height: 100vh;
  padding-top: 64px;
}
.small-section-index{
  height: 20vh;
}

p {
  text-align: justify;
}

h2{
  padding-bottom: 0.5em;
}
.date-color{
  color : #4db6ac;
  text-align: center;
}

/*Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.img-partenaire{
 width:100%;
}

.img-zone{
  width:30%;
}

.textarea-contact{
  max-height: 11em;
}

.textarea-remarque{
    max-height: 2em;
}
.margin-partenaire{
  margin-bottom: 5em ;
}

#icone-bike{
  margin-top: 0.4em;
}

.home-button{
  margin:5rem auto;
}

.front{
   position: relative;
}

/*SLOGAN*/
#slogan-top{
  font-size: 5em;
  font-family: CaroselloTitle;
  letter-spacing: 1px;
  top:0;
  left:0;
  margin: 0 auto;
  margin-top: 10%;
  color: white;
}

#slogan-bottom{
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  color: white;
  margin-left: 2.7em;

}

.row .row-book{
  margin-bottom: 0px !important;
}

.section.section-no-padding{
  padding-top:0 !important;
}



#icon-add-user{
  margin-top: 1.8em;
  margin-left: 8em;
  padding-left: 20em;
}

.modal-size{
  width: 30%;
}

.icon-margin{
  margin-right: 20px;
  margin-top: 100px;
}

.login-background{
  border-bottom:none;
  text-align:center;
  background-color: #26a69a;
  height: 70px;
  color: white;
  padding-top: 15px;

}

.login-no-padding{
  padding:0px !important;
}


.login-bt{
  font-size: 14rem;
  color: #26a69a;
}
.scroll-arrow{
  margin:0 auto;
  display: block;
  font-size: 4em;
  padding-top: 0.5em;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
