/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.resabike
{
  color:#1E1E1E;
  font-weight:bold;
}

.background-color{
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51);
}

.header {
  color: #ee6e73;
  font-weight: 300;
}

.parallax-container1 {
  height: 100vh;
}
.full-section {
  height: 100vh;
}

p {
  text-align: justify;
}

h2{
  padding-bottom: 0.5em;
}
.date-color{
  color : #4db6ac;
  text-align: center;
}

/*Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.img-partenaire{
 width:100%;
}

.img-zone{
  width:30%;
}

.textarea-contact{
  max-height: 11em;
}

.textarea-remarque{
    max-height: 2em;
}
.margin-partenaire{
  margin-bottom: 5em ;
}

#icone-bike{
  margin-top: 0.4em;
}

.home-button{
  margin-top: 20em;
  margin-bottom: 10em;
  margin-right: 10em;
  margin-left: 60em;
}

.front{
   position: relative;
}

/*SLOGAN*/
#slogan-top{
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  color: white;
  margin-top: -7em;
  margin-left: 3em;
}

#slogan-bottom{
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  color: white;
  margin-left: 2.7em;

}

.row .row-book{
  margin-bottom: 0px !important;
}

.section.section-no-padding{
  padding-top:0 !important;
}



#icon-add-user{
  margin-top: 1.8em;
  margin-left: 8em;
  padding-left: 20em;
}

.modal-size{
  width: 30%;
}

.icon-margin{
  margin-right: 20px;
  margin-top: 100px;
}

.login-background{
  border-bottom:none;
  text-align:center;
  background-color: #26a69a;
  height: 70px;
  color: white;
  padding-top: 15px;

}

.login-no-padding{
  padding:0px !important;
}

ul.stepper.horizontal {
  min-height: 80vh !important;
}