/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.resabike
{
  color:#1E1E1E;
  font-weight:bold;
}

.background-color{
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51);
}

.header {
  color: #ee6e73;
  font-weight: 300;
}

.parallax-container1 {
  height: 100vh;
}
.full-section {
  height: 100vh;
}

p {
  text-align: justify;
}

h2{
  padding-bottom: 0.5em;
}
.date-color{
  color : #4db6ac;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.img-partenaire{
 width:100%;
}

.textarea-contact{
  max-height: 11em;
}

.margin-partenaire{
  margin-bottom: 5em ;
}

#icone-bike{
  margin-top: 0.4em;
}

.home-button{
  margin-top: 20em;
  margin-bottom: 10em;
  margin-right: 10em;
  margin-left: 60em;
}